{
  "sport": "padel",
  "locations": {
    "Padel Jules Ladoumègue": [
      1,
      2,
      3,
      4
    ]
  },
  "hours": [
    "20"
  ],
  "courtType": [
    "Couvert"
  ],
  "fallbacks": [
    {
      "sport": "tennis",
      "locations": [
        "Edouard Pailleron"
      ]
    }
  ]
}
